ul {
    list-style-type: none;
    margin:50px;
    padding:0;
    width:150px;
    background-color:red;
}

li {
    display:block;
    padding:10px 17px;
    text-decoration: none;
}

li:hover {
    background-color: green;
    color:white;
}